<div class="mb-4">
    <h2>Vyberte Kubernetes Cluster</h2>
    <p class="text-muted">Vyberte cluster pro zobrazení denních nákladů podle namespace:</p>
</div>

<div class="card">
    <ul class="list-group">
        {% for cluster in clusters %}
        <li class="list-item">
            <a href="#" hx-get="/ui/clusters/{{ cluster.id }}/costs" hx-target="#app-content" class="nav-link font-medium">
                {{ cluster.name }}
            </a>
        </li>
        {% else %}
        <li class="list-item text-muted">Nenalezeny žádné clustery.</li>
        {% endfor %}
    </ul>
</div>