<div class="flex flex-wrap gap-2">
    {% for val in values %}
        <button 
            hx-get="/ui/scope/{{ scope_id }}?{{ current_qs }}&tag_{{ tag_key }}={{ val.value }}" 
            hx-target="#app-content" 
            hx-swap="innerHTML"
            class="badge badge-neutral hover:bg-gray-200 cursor-pointer border border-transparent hover:border-gray-300 transition-all font-medium py-1 px-3">
            
            {% if val.value == "" %}<i>(Bez hodnoty)</i>{% else %}{{ val.value }}{% endif %}
            <span class="text-muted ml-1">({{ val.count }})</span>
        </button>
    {% endfor %}
</div>